footer {
  background-color: var(--color3);
  color: var(--color2);
  padding: 0.5rem 30px; /* Reducir el espaciado */
  border-top: 0.8px solid var(--color4); /* Línea delgada en el borde superior */
  margin-top: 0.6rem; /* Añadir espacio desde la parte superior */
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem; /* Reducir el tamaño de la fuente */
  padding-bottom: 0.9em; /* Reducir el espacio inferior */

}

.logo img {
  max-height: 25px; /* Reducir el tamaño del logo */
}

.derechos {
  text-align: left; /* Justificar el texto hacia la izquierda */
  font-size: 0.6rem; /* Reducir el tamaño de la fuente */
}

.derechos p {
  color: var(--color2);
  margin: 0;
}

.derechos a {
  color: var(--color2);
  text-decoration: none;
  font-size: 0.6rem; /* Reducir el tamaño de la fuente */
}

.derechos a:hover {
  text-decoration: underline;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .footer-content {
    font-size: 0.75rem;
  }
  
  .logo img {
    max-height: 40px; /* Ajuste del tamaño del logo */
  }

  .derechos {
    font-size: 0.8rem;
  }
  
  .derechos a {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .footer-content {
    font-size: 0.9rem;
  }
  
  .logo img {
    max-height: 50px; /* Ajuste del tamaño del logo */
  }

  .derechos {
    font-size: 0.9rem;
  }

  .derechos p,
  .derechos a {
    font-size: 0.9rem;
  }
}
