.section-about-me {
  background-color: black;
  text-align: center;
  padding: 3.5rem 1.5rem 3rem;
  color: var(--color4);
  gap: 48px;
  background-size: cover;
  display: flex;
  flex-direction: row;  /* Elementos en orden natural (primero el avatar) */
  align-items: center; /* Alinea todos los elementos en el centro */
  
}

.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%; /* Limita el ancho de la sección */
  color: var(--color4);
  margin-top: 60px;
}

.div-inicio {
  margin-top: -30px; /* Reduce el espacio extra */
}

.text-and-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%; /* Limita el ancho para evitar que el texto se expanda demasiado */

}

.text-and-buttons h1 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  color: var(--color2);
  font-weight: 700;
}

.text-and-buttons p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 30px;
}

.image-container {
  flex: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Fija el tamaño para evitar movimientos */
  height: 400px;
}


.info {
  display: flex;
  flex-direction: row; /* Alinea la imagen y el texto en fila */
  justify-content: space-between; /* Deja espacio entre los elementos */
  gap: 30px;
  align-items: center; /* Alineación centrada para los elementos */
}


.section-about-me h1 {
  font-size: 1.5rem;
  margin: 0 0 1rem;  /* Ajusta el margen para colocar el título encima */
  color: var(--color2);
  font-weight: 700;
  text-align: center;  /* Asegúrate de que el texto esté centrado */

}


.section-about-me p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 30px;  /* Espacio debajo del texto */
}

.container-formacion {
  margin: 40px 0px;
}

.formacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.texto-formacion p {
  font-size: 0.8rem;
  font-weight: 400;
}

.menu-about-me {
  display:flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px; /* Espaciado entre botones y contenido de la pestaña */

}

.menu-about-me button {
  background-color: var(--color3);
  color: white;
  border: none;
  padding: 9px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

}

.menu-about-me button:hover {
  background-color: var(--color3);
}

.tab-content {
  width: 100%; /* Ajusta al ancho completo del contenedor */
  display: none;
  text-align:justify;
  margin: 0 auto; /* Centra el contenido */
  
}

.tab-content.active {
  display: flex;
  flex-direction: column; /* Asegura que todo el contenido fluya de arriba hacia abajo */
  align-items: left;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); /* Se ajusta dinámicamente */
  gap: 25px;
  justify-content: center;
  align-items: center;
  max-width: 600px; /* Controla que no se desborde */
  overflow: hidden; /* Evita que elementos se salgan */
  width: 100%; /* Se ajusta al tamaño del `.tab-content.active` */

}

.grid img {
  width: 100%; /* Tamaño ajustado para que sean más pequeñas */
  max-width: 100px; /* Asegura que las imágenes no se expandan demasiado, manteniendo un tamaño adecuado y consistente.
  height: auto; /* Asegura que la imagen sea cuadrada */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
  object-fit: contain;

}

.grid2 {
  display: grid;
  grid-template-columns: 35px 35px; /* Define un tamaño fijo para cada columna */

  gap: 80px;
  align-items: center;
}

.grid2 img {
  width: 333%; /* Tamaño ajustado para que sean más pequeñas */
  max-width: 350px; /* Asegura que las imágenes no se expandan demasiado, manteniendo un tamaño adecuado y consistente.
  height: auto; /* Asegura que la imagen sea cuadrada */
  object-fit: contain;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar */
}


.imagen-section-aboutme {
  width: 400px;  /* Ajusta el tamaño de la imagen a un tamaño más pequeño */
  height: 400px;  /* Mantén la relación de aspecto cuadrada */
  border-radius: 50%;  /* Hace que la imagen sea redonda */
  object-fit: cover;  /* Asegura que la imagen se recorte de manera proporcional */
  margin-top: 30px;
}

.skill {
  display:contents;
  flex-direction: column;
  gap: 0px;
}

.skill span {

  text-align: center;
  color: var(--color2);
  display:none;

}


@media screen and (min-width: 1024px) {
  .about-me-content {
    min-height: 500px; /* Ajusta esto según el contenido */
  }

  .section-about-me h1 {
    font-size: 2.5rem;
  }

  .section-about-me p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    max-width: 600px;
  }

  .container-formacion {
    height: 400px;
  }

  .container-formaciones {
    max-width: 600px;
  }

  h4 {
    font-size: 1.3rem;
  }

  .texto-formacion p {
    font-size: 1.1rem;
  }
  
}

@media screen and (min-width: 768px) {
  .about-me-content {
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .section-about-me h1 {
    font-size: 1.8rem;
  }

  .section-about-me p {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .texto-formacion p {
    font-size: 0.9rem;
  }
}